.root {
    flex-grow: 1;
    max-width: 300px;
}

.avatar {
    margin: 10px;
}
  
.orangeAvatar {
    margin: 10px;
    color: #fff;
    background-color: deepOrange[500];
}

.purpleAvatar {
    margin: 10px;
    color: #fff;
    background-color: deepPurple[500];
}

.ilabel {
    margin: auto;
    padding-top: 15px;
    padding-left: 0px;
}

#irow {
    margin: auto;
    width: 200px;
}
